body{
margin:0;
font-family:Arial;
background:#050d1a;
color:white;
}

/* Sidebar */

.sidebar{
width:230px;
height:100vh;
background:#00162e;
position:fixed;
padding-top:25px;
border-right:3px solid #caa400;
}

.sidebar h2{
text-align:center;
margin-bottom:40px;
}

.sidebar a{
display:block;
color:white;
padding:15px;
text-decoration:none;
border-bottom:1px solid rgba(255,255,255,0.1);
}

.sidebar a:hover{
background:#003e7e;
}

/* Main */

.main{
margin-left:230px;
padding:40px;
}

.card{
background:#0a1f44;
padding:25px;
border-radius:12px;
margin-bottom:30px;
border:1px solid #caa400;
}

.logo{
width:120px;
}

.button{
display:inline-block;
padding:15px 30px;
margin-top:15px;
background:#003e7e;
color:white;
text-decoration:none;
border-radius:8px;
border:2px solid #caa400;
transition:0.3s;
}

.button:hover{
background:#0055a5;
transform:scale(1.05);
}

iframe{
width:100%;
height:700px;
border:none;
}
