body{
margin:0;
font-family:Arial;
background:#050d1a;
color:white;
}

/* LOGIN PAGE */

.login-page{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.login-box{
background:#0a1f44;
padding:40px;
border-radius:12px;
text-align:center;
width:320px;
border:2px solid #caa400;
}

.login-box input{
width:100%;
padding:12px;
margin:12px 0;
border:none;
border-radius:6px;
}

.login-box button{
width:100%;
padding:12px;
background:#003e7e;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}

/* LOGO CIRCLE */

.logo-circle{
width:120px;
height:120px;
margin:auto;
border-radius:50%;
overflow:hidden;
border:3px solid #caa400;
}

.logo-circle img{
width:100%;
}

/* DASHBOARD */

.sidebar{
width:230px;
height:100vh;
background:#00162e;
position:fixed;
padding-top:30px;
border-right:3px solid #caa400;
}

.sidebar a{
display:block;
padding:15px;
color:white;
text-decoration:none;
}

.sidebar a:hover{
background:#003e7e;
}

.main{
margin-left:230px;
padding:30px;
}

.card{
background:#0a1f44;
padding:25px;
border-radius:12px;
border:1px solid #caa400;
}
